<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/static/layui/css/layui.css" />
    <link rel="stylesheet" href="/public/static/layui/layui.js" />
    <title>永乐科技</title>
    <style>
      .container {
        min-height: 600px;
      }
    </style>
  </head>
  <body>
    <ul class="layui-nav layui-bg-blue" lay-filter="">
      <li class="layui-nav-item layui-this"><a href="/">首页</a></li>
      <li class="layui-nav-item"><a href="/list">列表</a></li>
      <li class="layui-nav-item"><a href="/details">详情</a></li>
    </ul>
